<h1><%= t"title.sample_app"%></h1>

<p><%= t "email.hi"%><%= @user.name %>,</p>
<p>
<%= t "email.text_activate" %>
</p>

<%= link_to  t("email.activate"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>